---
import MainLayout from '../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog');
---

<MainLayout title="Blog">
  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {blogEntries.map(blogPostEntry => (
      <li class="flex flex-col">
        <a class="text-xl mb-2" href={`/blog/${blogPostEntry.slug}`}>
          {blogPostEntry.data.title}
        </a>
        <p class="mb-3">
          {blogPostEntry.data.description}
        </p>
        <time class="text-xs text-gray-400" datetime={blogPostEntry.data.date.toString()}>
          {blogPostEntry.data.date.toString()}
        </time>
      </li>
    ))}
  </ul>
</MainLayout>