---
import { getProducts } from '../api/products';
import { AddToCard } from '../components/AddToCard';
import MainLayout from '../layouts/MainLayout.astro';
const { products } = await getProducts();
---

<MainLayout title="Products">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

    {products?.map(product => (
      <div class="rounded-md p-4 border-t border-b border-blue-100 shadow-md hover:shadow-lg transition-all cursor-pointer hover:scale-105">
        <div class="flex justify-between">
          <h3><a href={`/product/${product.id}`}>{product.title}</a></h3>
          <AddToCard client:load product={product} />
        </div>
        <div class="flex items-center justify-center h-full">
          <img class="w-full h-auto max-w-full" src={product.images[0]} alt={product.title}>
        </div>
      </div>
    ))}

  </div>
</MainLayout>

<script>
  // @ts-nocheck
  document.addEventListener('error', function(event) {
     let elm = event.target;
     if (elm.tagName == 'IMG') {
         elm.src = "https://via.placeholder.com/400";
     }
  }, true ); // true to capture event
</script>
